<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html">
 
    <h:head>
        <title><h:outputText value="#{msg['hello.title']}" /></title>
        <h:outputStylesheet name="simple.css" library="styles" />
    </h:head>
    <h:body>
    	<h3 class="title"><h:outputText value="#{msg['hello.title']}" /></h3>
    	<h:form>
    	   <h:inputText value="#{hello.name}"></h:inputText>
    	   <h:commandButton value="Welcome Me" action="welcome?faces-redirect=true"></h:commandButton>
    	   <h:commandButton value="WELCOME" action="#{hello.upperWelcome}"></h:commandButton>
    	</h:form>
    	<h:form>
    		Language : <h:selectOneMenu value="#{ctx.localeCode}" onchange="submit()" 
    			valueChangeListener="#{ctx.countryLocaleCodeChanged}">
	   				<f:selectItems value="#{ctx.countriesInMap}" /> 
	   			</h:selectOneMenu>
    	</h:form>
    	<h:graphicImage library="images" name="arrow_red.png" />
    </h:body>
</html>