<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html">
 	<h:head></h:head>
    <h:body>
    	<h3>JSF 2.0 + Ajax Hello World Example @ #{ctx.currentTime}</h3>
 
    	<h:form>
    	   <h:inputText id="name" value="#{hello.name}"></h:inputText>
    	   <h:commandButton value="Welcome Me">
    		 <f:ajax execute="name" render="output" />
    	   </h:commandButton>
 
    	   <h2><h:outputText id="output" value="#{hello.sayWelcome}" /></h2>	
    	</h:form>
 
    </h:body>
</html>